/* For Mobile*/
main{
  width: 97vw;
    color: white  ;
    z-index: 99;
    position: absolute;
    margin: auto;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
h1{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  font-weight: lighter;
}
h2{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}


h3 {
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
section p{
  font-family: 'Source Sans Pro', sans-serif;
  }
  a{
    text-decoration: none;
    color:#eee;
  }  .header{
    margin-top: 10vh;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    max-width: 90vw;
    height: auto;
  }
  .proyects{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
    max-width: 90vw;
  }
  .proyects ul{
    max-width: 90vw;
    list-style: none;
    padding-left: 0;
  }
  .proyects ul li{
    font-weight: lighter;
    width: 90%;
  }
  .education{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
  }
  .education img {
    width: 100px;
  }
  .contact {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
    margin-bottom: 50%;
  }
/* For Desktop*/
@media only screen and (min-width: 768px) {
  main{
    width: 97vw;
    color: white  ;
    z-index: 99;
    position: absolute;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: lighter;
  }
  h2{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }
  
  
  h3 {
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    font-weight: lighter;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
  section p{
  font-family: 'Source Sans Pro', sans-serif;
  }
  a{
    text-decoration: none;
    color:#eee;
  }
  .header{
    margin-top: 40%;
    grid-column: 2/ span 5;
    grid-row: 1;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
  }
  .proyects{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
    grid-column: 6/12;
    grid-row: 2;
  }
  .proyects ul li{
    font-weight: lighter;
  }
  .education{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
    grid-column: 2/6;
    grid-row: 3;
  }
  .education img {
    width: 100px;
  }
  .contact {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-top: 50vh;
    grid-column: 6/12;
    grid-row: 4;
    margin-bottom: 50%;
  }
}
